extends ./layout  
block content 
  .container-fluid
    .row
      .col-md-3
        include ./component/sidebar
      .col-9.background-image
        .content-index
          p.large-text Arnav Chaturvedi
          p.animated-text 
            span I'm
            span Web
            span Developer
          div.container 
            a(href="/contact")
              button.btn.btn-primary(type="button" style="height:50px" class="animated-button")
                img(src="/img/sidebar-logo/contact.png", alt="Contact Icon", class="img-fluid mr-2" style="width:30px")
                | Contact Me
  
            a(href="/arnav-resume.pdf", download) 
              button.btn.btn-success(type="button" style="height:50px" class="animated-button") 
                img(src="/img/sidebar-logo/resume.png", alt="resume-logo", style="width:30px")
                | Download Resume


      include ./about
      include ./resume
      include ./skills 
      include ./service 
      include ./contact
      include ./component/footer
    style.
      @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      } 

      @keyframes slideInLeft {
        0% {
          transform: translateX(-100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes slideInRight {
        0% {
          transform: translateX(100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      .content-index{
        margin-top: 25rem;
        color : black;
      }
      .animated-text span {
        display: inline-block;
        font-size: 2rem;
        margin-left: 10px;
        opacity: 0; /* Start hidden */
        animation: fadeIn 1s ease-in-out forwards; /* Animate to fadeIn */
      } 

      .animated-text span:nth-child(1) {
        animation-delay: 0s; /* First word shows immediately */
      } 

      .animated-text span:nth-child(2) {
        animation-delay: 1s; /* Second word shows after 1 second */
      } 

      .animated-text span:nth-child(3) {
        animation-delay: 2s; /* Second word shows after 1 second */
      } 

      .large-text { 
        font-size: 3.5rem; /* Increase the font size */
      } 

      .background-image {
        background-image: url('/img/arnavphoto.jpg'); /* Add the path to your background image */
        background-size: cover; /* Cover the entire container */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        height:100vh;  
      } 

      .animated-button {
        position: relative;
        overflow: hidden;
      }

      .animated-button img {
        transition: transform 0.3s ease;
      }

      .animated-button:hover img {
        transform: scale(1.1);
      }

      .animated-button:hover:before, 
      .animated-button:hover:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        top: 0;
        left: 0;
      }

      .animated-button:hover:before {
        animation: slideInLeft 0.5s forwards;
      }

      .animated-button:hover:after {
        animation: slideInRight 0.5s forwards;
      }
