extends ./layout  
block content 
  .container-fluid.d-flex.justify-content-end
    .row
      .col-md-3
        include ./component/sidebar
      .col-md-9
        .content
          p.large-text Coming From Resume