//- footer.bg-light.py-3.footer-center
//-   .container
//-     .row.justify-content-center
//-       .col-md-12.text-center
//-         p.mb-0
//-           | &copy; Powered by Arnav Chaturvedi

//- style. 
//-     .footer-center {
//-     height: 100px; /* Adjust the height as needed */
//-     text-align: center;
//-     }

//-     footer p {
//-     margin-bottom: 0;
//-     margin-left: auto; 
//-     margin-right: auto;
//-     }
